{% extends "layout.html" %}

{% set active_page = "about" %}

{% block title %}About the Data{% endblock %}

{% block heading %}About the UFO Data{% endblock %}

{% block body %}
  <p>The data used in this web app is from the CORGIS Dataset Project and can be found here! The data contains information about recorded UFO sightings and their location, time frame, and shape. It's important to note that the sightings were self-reported, meaning the data could be muddled or inaccurate. The most common UFO shapes reported are orb, triangle,other, fireball, disc, egg, cigar, changing, rectangle and diamond.
</p>
<h2>Links to other UFO resources!</h2>
<ul>
<li><href="https://www.axios.com/2024/02/08/ufo-uap-sightings-us-hotspots-2000-2023"></li>
<li><href="https://en.wikipedia.org/wiki/List_of_reported_UFO_sightings"></li>
</ul>
{% endblock %}