

{% extends "layout.html" %}

{% set active_page = "location" %}

{% block title %}Reported Sightings over Time{% endblock %}

{% block heading %}Reported Sightings over Time:{% endblock %}

{% block body %}
<script>
	window.onload = function() {
	 
	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		axisX: {
			title: "Years",
			interval: 10,
			valueFormatString: "####",
			minimum: "1920",
			maximum: "2016"
		},
		axisY: {
			title: "Reported Sightings",
			includeZero: true,
			minimum: 0
		},
		data: [{
			type: "line",
			name: "CPU Utilization",
			connectNullData: true,
			//nullDataLineDashType: "solid",
			xValueFormatString: "####",
			yValueFormatString: "#,##0.##",
			dataPoints: {{ dataPoints }}
		}]
		
	});
	chart.render();
	 
	}                  
</script>	 
<div id="chartContainer" style="height: 500px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}



